## .NET / Visual Studio

# Build output
bin/
obj/
out/

# NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Test results
TestResults/
*.trx

# macOS
.DS_Store
